<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbld.warehouse">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- OpenGLES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".app.WHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/xiuzhneg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xiuzhneg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="i4TfjeCm0TIRW0BESgKRqTAf3Vfl9cIm" />
        <!--主页-->
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--扫码-->
        <activity android:name=".zxing.android.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--扫码,快递-->
        <activity android:name=".zxinglogistics.android.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--退货单-扫码-->
        <activity android:name=".scancodenew_thd.scan.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--盘点单-扫码-->
        <activity android:name=".scancodenew_stock.scan.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--还货出库-扫码-->
        <activity android:name=".scancodenew_hhck.scan.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--还货入库-扫码-->
        <activity android:name=".scancodenew_hhrk.scan.CaptureActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--菜单-->
        <activity android:name=".activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--待发货、已出库、待收货-->
        <activity android:name=".activity.BackOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--待发货、已出库、待收货的订单详情-->
        <activity android:name=".activity.BackOrderInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--待出库到出库-->
        <activity android:name=".activity.OrderDeliveryActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--待出库到出库到明细-->
        <activity android:name=".activity.CaptureFinishActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--物流查询-->
        <activity android:name=".activity.LogisticsTrackingActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--物流添加-->
        <activity android:name=".activity.LogisticsNumberActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--已出库订单-->
        <activity android:name=".activity.OutBoundOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--获取出/入库单详情-->
        <activity android:name=".activity.OutBoundOrderInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--添加出库单-->
        <activity android:name=".activity.AddOutBoundOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--添加选择商品-->
        <activity android:name=".activity.SelectGoodsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--库存查询-->
        <activity android:name=".activity.QueryActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--库存盘点-->
        <activity android:name=".activity.StockingActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--添加库存盘点-->
        <activity android:name=".activity.AddStockingActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--库存盘点详情-->
        <activity android:name=".activity.StockingInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--库存盘点,明细-->
        <activity android:name=".activity.CodeInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--市场交接-->
        <activity android:name=".activity.TransferActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--市场交接，详情-->
        <activity android:name=".activity.TransferInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--市场交接，编辑-->
        <activity android:name=".activity.TransferEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--其他出库-->
        <activity android:name=".activity.PendingOutActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--其他出库出库-->
        <activity android:name=".activity.CommitOutStorageActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--新扫码页-->
        <activity android:name=".scancodenew.scan.CaptureActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--库存详情-->
        <activity android:name=".activity.QueryDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--iData扫码-->
        <activity android:name=".activity.IDataScanActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端配送-->
        <activity android:name=".activity.ZDPSActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端配送详情-->
        <activity android:name=".activity.ZDPSInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端配送出库-->
        <activity android:name=".activity.ZDPSOutActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--到货确认-->
        <activity android:name=".activity.DHQRActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--到货确认详情-->
        <activity android:name=".activity.DHQRInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--销售出库-->
        <activity android:name=".activity.XSCKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--销售出库-扫码-->
        <activity android:name=".scancodenew_xsck.scan.CaptureActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货入库-扫码-->
        <activity android:name=".scancodenew_thrk.scan.CaptureActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--待收货-人工收货-->
        <activity android:name=".activity.OrderDeliveryPeoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--销售统计-->
        <activity android:name=".activity.XSTJActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--其他入库-->
        <activity android:name=".activity.PendingInActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--销售出库-明细-->
        <activity android:name=".activity.XSCKMXActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/myTransparent"
            android:screenOrientation="portrait">
        </activity>
        <!--退货单-->
        <activity android:name=".activity.THDActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货单-详情-->
        <activity android:name=".activity.THDInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货单-退货-->
        <activity android:name=".activity.THDSureActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货单-添加退货单-->
        <activity android:name=".activity.AddTHDActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货申请-详情-->
        <activity android:name=".activity.THSQInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货申请-详情-明细-->
        <activity android:name=".activity.THSQInfoMxActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货入库-->
        <activity android:name=".activity.THRKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货入库-入库-->
        <activity android:name=".activity.THRKRKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--退货入库-扫码idata-->
        <activity android:name=".activity.IDataScanTHRKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货出库-->
        <activity android:name=".activity.HHCKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货出库-详情-->
        <activity android:name=".activity.HHCKInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货出库-出库-->
        <activity android:name=".activity.HHCKCKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货入库-入库-->
        <activity android:name=".activity.HHRKRKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货出库-详情-明细-->
        <activity android:name=".activity.HHCKInfoMxActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--还货入库-->
        <activity android:name=".activity.HHRKActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--经销商登录主页-->
        <activity android:name=".activity.MenuDealerActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--订单提报-->
        <activity android:name=".activity.DDTBActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--订单提报-编辑、添加-->
        <activity android:name=".activity.DDTBAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--订单提报-商品列表-->
        <activity android:name=".activity.DDTBProsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--订单提报-商品详情-->
        <activity android:name=".activity.DDTBProInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--货需上报-->
        <activity android:name=".activity.HXSBActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--货需上报-上报页-->
        <activity android:name=".activity.HXSBSBActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--货需上报-上报页-->
        <activity android:name=".activity.HXSBSBAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--生成发货单-->
        <activity android:name=".activity.SCFHDActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--生成发货单-省内-->
        <activity android:name=".activity.SCFHD_SNActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--生成发货单-省外-->
        <activity android:name=".activity.SCFHD_SWActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--生成发货单-新订单处理-->
        <activity android:name=".activity.SCFHD_newActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--关联-->
        <activity android:name=".activity.BarcodeConnectActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--查看关联-->
        <activity android:name=".activity.BarcodeConnectWatcheActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--查看关联-详情-->
        <activity android:name=".activity.BarcodeConnectInfoActivity"
        android:windowSoftInputMode="stateHidden|adjustPan"
        android:screenOrientation="portrait">
        </activity>
        <!--发货单-->
        <activity android:name=".activity.FHDActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--发货单-省外-->
        <activity android:name=".activity.FHD_SWActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--发货单-省内-->
        <activity android:name=".activity.FHD_SNActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--工厂登录菜单页-->
        <activity android:name=".activity.MenuPlantActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端客户-->
        <activity android:name=".activity.ZDKHActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--销售查询-->
        <activity android:name=".activity.XSCXActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--条码流转-->
        <activity android:name=".activity.TMLZActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--物流公司-->
        <activity android:name=".activity.WLGSActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--发货单-物流设置-->
        <activity android:name=".activity.FHD_WLActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--发货单-物流设置-物流详情-->
        <activity android:name=".activity.FHD_WL_InfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--发货单-物流设置-物流详情-->
        <activity android:name=".activity.IDataScanTHDActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端发货-->
        <activity android:name=".activity.ZDFHActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端发货-添加-->
        <activity android:name=".activity.ZDFHAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端发货-添加-添加商品-->
        <activity android:name=".activity.ZDFHProsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端发货-编辑/详情-->
        <activity android:name=".activity.ZDFHEditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--总部 1，经销商 2-->
        <activity android:name=".activity.Menu12Activity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--终端录入（终端客户）-添加/编辑-->
        <activity android:name=".activity.ZDKHAdd_EditActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--获取坐标-->
        <activity android:name=".activity.SetXYActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--获取坐标-搜索地址-->
        <activity android:name=".activity.SetXYSearchActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--测试-->
        <activity android:name=".activity.TestActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <!--获取动态权限-->
        <activity android:name=".activity.PermissionActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--更新相关-->
        <service android:name=".update.UpdateService" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>